{% extends 'share_template/base.html' %}

{% block content %}
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="#">خانـه</a></li>
              <li class="active">پرداخت</li>
            </ol>
        </div><!--/breadcrums-->
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">کـالا</td>
                        <td class="description"></td>
                        <td class="price">قیمت</td>
                        <td class="quantity">تعـداد</td>
                        <td class="quantity">تعـداد</td>
                        <td class="total">مجمـوع</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                {% for cart_item in cart_items %}
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="{{ cart_item.book.cover_image.url}}" alt="" height="100" width="100"></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{ cart_item.book.title}}</a></h4>
                            <p>شناسـه : 01010101</p>
                        </td>
                        <td class="cart_price">
                            <p>{{ cart_item.book.price}}</p>
                        </td>
                        <form method="post" action="{% url 'update_cart' cart_item.book.slug %}">
                        {% csrf_token %}
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <input class="cart_quantity_input" type="number" name="quantity"  value="{{ cart_item.quantity }}" autocomplete="off" size="2">
                            </div>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <button type="submit" name="quantity" class="cart_quantity_input" ><i class="fa fa-update"></i>به روز رسانی</button>
                            </div>
                        </td>
                        </form>
                        <td class="cart_total">
                            <p class="cart_total_price">590.000 ريال</p>
                        </td>
                        <td class="cart_delete">
                            <form method="post" action="{% url 'remove_cart_item' cart_item.book.slug %}">
                                {% csrf_token %}
                            <button class="cart_quantity_delete" ><i class="fa fa-trash-o"></i></button>
                                </form>
                        </td>
                    </tr>
                {% endfor %}



                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock content %}  
