{% extends 'share_template/base.html' %}

{% block title %}
    تغییر کلمه عبور
{% endblock %}
{% block content %}
    <div class="container">
		<section id="form"><!--form-->
			<div class="row">
				<div class="forget-password">
					<div class="col-sm-6">
						<div class="login-form"><!--Recovery form-->
							<h2>تغییر رمز عبور</h2>
							<form action="#" method="post">
                                {% csrf_token %}
                                <input type="password" name="old_password" autocomplete="current-password" autofocus=""
                                       placeholder="رمز عبور قدیم" required="" id="id_old_password">
                                <input type="password" name="new_password1" autocomplete="new-password"
                                       placeholder="رمز عبور جدید" required="" id="id_new_password1">
                                <input type="password" name="new_password2" autocomplete="new-password"
                                       placeholder="تکرار رمز عبور جدید" required="" id="id_new_password2">
								<button type="submit" class="btn btn-default">تغییر کلمـه عبـور</button>
                                <br>
                                <ul>
                                    <li>
                                        <span>رمز عبور نمی تواند مشابه سایر اطلاعات فردی باشد.</span>
                                    </li>
                                    <li>
                                        <span>رمز عبور حداقل باید شامل 8 کاراکتر باشد.</span>
                                    </li>
                                    <li>
                                        <span>رمز عبور نمی تواند قبلا استغاده شده باشد.</span>
                                    </li>
                                    <li>
                                        <span>رمز عبور نمی تواند کاملا عدد باشد.</span>
                                    </li>
                                </ul>
							</form>
						</div><!--/Recovery form-->
					</div>
					<div class="col-sm-6">
					</div>
				</div>
			</div>
		</section>
</div>
{% endblock %}
