{% extends 'share_template/base.html' %}
{% block content %}
    <section>
		<div class="container">
			<div class="row">
                    <div class="recommended_items"><!--NewProduct_items-->
						<h2 class="title text-center">لیست کتاب ها</h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                                {% for book in books %}
                                    <div class="item {{ forloop.first|yesno:"active," }}">
                                            <div class="col-sm-3">
										        <div class="product-image-wrapper">
											        <div class="single-products">
												        <div class="productinfo text-center">
                                                            <img src="{{book.cover_image.url}}" alt="">
                                                            <h2>{{book.title}}</h2>
                                                            <p class="tags">
                                                                برچسب:
                                                                {% for tag in book.tags.all %}
                                                                <a href="{% url "book:book_list_by_tag" tag.id %}">
                                                                {{ tag.name }}
                                                                </a>
                                                                {% if not forloop.last %}, {% endif %}
                                                                {% endfor %}
                                                            </p>
                                                            <h3>{{ book.price}}ریال </h3>
                                                            <p>{{ book.description }}</p>
                                                            <a href="{% url 'book:book_detail' slug=book.slug %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خرید</a>
												        </div>
											        </div>
										        </div>
									        </div>
								    </div>
                                {% endfor %}
                        </div>
				</div>
            </div>
        </div>
    </section>
{% endblock %}