{% extends 'share_template/base.html' %}
{% load static %}
{% block title %}
    برچسب کتاب ها
{% endblock %}
{% block content %}
    <section>
		<div class="container">
			<div class="row">
                    <div class="recommended_items"><!--NewProduct_items-->
						<h2 class="title text-center">کتاب های مورد علاقه</h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                                {% for favorite_book in favorites_book %}
                                    <div class="item {{ forloop.first|yesno:"active," }}">
                                            <div class="col-sm-3">
										        <div class="product-image-wrapper">
											        <div class="single-products">
												        <div class="productinfo text-center" style="height: 1000px">
                                                            <img src="{{favorite_book.book.cover_image.url}}" alt="">
                                                            <h2 style="max-width: content-box">{{favorite_book.book.title}}</h2>
                                                            <p class="tags">
                                                                برچسب:
                                                                {% for tag in favorite_book.book.tags.all %}
                                                                <a href="{% url "book:book_list_by_tag" tag.id %}">
                                                                {{ tag.name }}
                                                                </a>
                                                                {% if not forloop.last %}, {% endif %}
                                                                {% endfor %}
                                                            </p>
                                                            <h3>{{ favorite_book.book.price}}ریال </h3>
                                                            <p style="text-align: justify">{{ favorite_book.book.description|truncatewords:20 }}</p>
                                                            <a href="{% url 'book:book_detail' slug=favorite_book.book.slug %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>مشاهده کتاب</a>

                                                                    <button class="btn btn-group-justified" href="{% url 'book:remove_favorite_book' favorite_book.book.id %}" type="submit">
                                                                    حذف از علاقه مندی</button>

												        </div>
											        </div>
										        </div>
									        </div>
								    </div>
                                {% endfor %}

                        </div>
				</div>
            <div class="clearfix"></div>{% include 'share_template/pagination.html' %}
            </div><!--features_items-->

            </div>

        </div>

    </section>

{% endblock %}